# Python in jupyter notebook

In [ ]:
# Comments are denoted as # sign in Jupyter notebook.

In [ ]:
# Print() function is used in python to get output.It is a inbuilt functions.

In [ ]:
# Variable & Operator in Python.

# Python variable is containers that store values.Python is not "Statically typed".We do not need to declare variables 
# before using them or decalare their type.A variable is created the moment we first assign a value to it .A python variable
# is a name given to a memory location.It is the basic unit of storage in a program.

# A variable can have a short name ( like x and y) or a more descriptive name ( age,carname,total_volume ). Rules for Python
# variables:

# A variable name must start with a letter or the underscore characher.

# A variable name cannot start with a number.

# A variable name can only contain alpha-numeric characters and underscores ( A-z,0-9, and _ )

# Variable names are case-sensitive ( age, Aga and AGE are three different variables.)

# A Variable name cannot be any of the Python Keywords.

# Python has no command for declaring a variable.

# A variable is created the moment you first assign a value to it.

# Example

In [3]:
x = 5
y = "John"

print(x)
print(y)

5
John

In [5]:
# Python allows you to assign values to multiple variables in one line:
# example.

x,y,z = "Orange","Banana","Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [7]:
# Or the second method is putting in one value to many.

x = y = z = "Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

In [9]:
a = 1

print(a)

1

In [11]:
b = 2
c = 2.3

print(b,c)

2 2.3

In [15]:
x = "apple"

print(x)

apple

In [17]:
student = 23

print(student)

23

In [19]:
1@# = 2

print(1@#) # we cannot use symbols in variable.

SyntaxError: invalid syntax (2944837413.py, line 1)

In [21]:
student123 = 25

print(student123)

25

In [23]:
_a = 5

print(_A) # variables are case sensitive in python.

NameError: name '_A' is not defined

In [25]:
_a = 5

print(_a) # _ can be used a variable in python.

5

In [29]:
# many values to multiple variable

x,y,z = "Orange","Banana","Cherry"

print(x,y,z)

Orange Banana Cherry

In [31]:
# Python output variables.

# Python print() function is used as a output.

x = "Python"
y = "is"
z = "amazing"

print(x,y,z)

print()

print(x)
print(y)
print(z)

Python is amazing

Python
is
amazing

In [ ]:
# Variables can store data of different types, and different types can do different different types.
# Pyhton has the following data types built-in by default,in these categories.

# Test Types    : str
# Numberic type : int, float, complex
# Sequence type : list, tuple range
# Mapping type  : dictionary
# Boolean Type  : bool
# Binary Types  : bytes, bytearray, memoryview

# Python - data types

# Numeric
        # integers , complex , float

# Dictionary

# Boolean

# Set

# Sequence Type
        # strings , list , tuple.

In [33]:
# Data types

x = 2

print(x)
print(type(x)) # type() function gives the description of the 
             # integers data types it belongs..

2
<class 'int'>

In [35]:
y = 4.5

print(y)
print(type(y))

4.5
<class 'float'>

In [37]:
z = 2 + 5j

print(z)
print(type(z))

(2+5j)
<class 'complex'>

In [43]:
a = 2 + 5

print(a)
print(type(a))

7
<class 'int'>

In [45]:
a = "This is my first pyhton program "

print(a)
print(type(a))

This is my first pyhton program
<class 'str'>

In [47]:
b = [ 1,2,3,4,5,6,7,8,9,10]

print(b)
print(type(b)) # list denotes in square brackets.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [49]:
c = (1,2,3,4,5,6,7,8,9,10)

print(c)
print(type(c)) # tuples denotes by curely brackets.

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [51]:
%whos # used to see the detailed view so far.

Variable               Type        Data/Info
--------------------------------------------
a                      str         This is my first pyhton program
b                      list        n=10
c                      tuple       n=10
dataframe_columns      function    <function dataframe_columns at 0x12c82fb00>
dataframe_hash         function    <function dataframe_hash at 0x12c82f6a0>
dtypes_str             function    <function dtypes_str at 0x12c82fe20>
get_dataframes         function    <function get_dataframes at 0x12c82c900>
getpass                module      <module 'getpass' from '/<...>b/python3.12/getpass.py'>
hashlib                module      <module 'hashlib' from '/<...>b/python3.12/hashlib.py'>
import_pandas_safely   function    <function import_pandas_safely at 0x12c82fd80>
is_data_frame          function    <function is_data_frame at 0x12c82e3e0>
json                   module      <module 'json' from '/opt<...>on3.12/json/__init__.py'>
student                int         23
student123             int         25
x                      int         2
y                      float       4.5
z                      complex     (2+5j)

In [ ]:
# Operators in python.

# In python programming, operators in general are used to perform operations on values and variables.
# These are standard symbols used for the purpose of logical and arithmetric operations. in this article, 
# we will look into different types of python operators.

# Operators : These are the special symbols. eg + , * , / etc.

# Operand : it is the value on which the operator is applied.

# Types of Operators.

    # Arithmetic Operators

    # Comparison Operators

    # Logical Operators

    # Bitwise Operators

    # Assignment Operators

    # Identify Operator and membership Operators.

In [53]:
a = 5
b = 3

print(a+b)

8

In [55]:
a = 5
b = 2.3

print(a+b)

7.3

In [57]:
a = 5 + 2j
b = 4

print(a+b)

(9+2j)

In [3]:
a = "hello"
b = "students"

print( a + " " + b)

hello students

In [5]:
# Subtraction

a = 15
b = 6

print( a - b)

9

In [7]:
a = 5.8965
b = 7.2585963

print( a - b)
print(type(a-b))

-1.3620963000000001

In [9]:
a = 5 + 6j
b = 3

print( a - b)

(2+6j)

In [11]:
a = "Hello"
b = "student"

print(a -b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [13]:
# Multiplication

a = 15
b = 56

print( a*b)

840

In [15]:
a = 5.689
b = 82.55632

print(a*b)

469.66290448

In [17]:
# Division

a = 10
b = 5

print( a/b)

2.0

In [19]:
# Modulous

a = 19
b = 3

print( a%b) # here a modulous b the reminder is 1.

1

In [21]:
a = 12
b = 4

print( a%b)

0

In [24]:
# exponent

a = 41256789

print(a**55)

71162028433520217717099884851404495326786614148274137562533191244754226421072922193229393035406290047490322006127486170528820460414671897074184746917638236810663780872933871199771053029074871072046645088603300420278272474373361352870797685329285463690039885441075398107839063255747535400015566353549647882767414182717586010912021318113386679928289227315380064286145450539958069165193638416244911434618495833200180049949

In [28]:
a = ((859*78)+(78.256/89)+(856**67)+(145698-7526))

print(a)

2.990489165920469e+196

In [32]:
# Logical Operators.

a = True
b = False

print(a and b)

False

In [34]:
a = True
b = False

print( a or b)

True

In [36]:
a = True
b = True

print( a or b )

True

In [38]:
a = False
b = False

print( a or b)

False

In [40]:
# False or False = False
# False or True = True
# True or False = True
# True or True = True

a = False
b = True

print(a or b)

True

In [42]:
a = False
b = False

print( not(a))

True

In [44]:
a = True
b = False

print( not(a))

False