In [1]:
# Sets

# Perhaps you recall learning about sets and set theory at some point in your mathematical education.
# Maybe you even remember Venn Diagrams:

# A set can be thought of simply as well-defined collection of distinct objects,typically called elements or members.
# Grouping objects into a set can be useful in programming as well, and python privides a build-in set type to do so.

# Sets are used to store multiple items in a single variable.
# Set is one of 4 built-in data types in python used to store collections of data, the other 3 are list,tuple and dictionary all with different qualities and usage.

# A set is a collection which is unordered,unchangeable*,and unindexed.

# Creating a set

a = { "animals","ball","cat"}
print(a)

{'animals', 'cat', 'ball'}

In [ ]:
# Set items are unordered, unchangeable, and do not allow duplicate values.

# Unordered means that the items in a set do not have a defined order.
# Set items can appear in a different order every time you use them,and cannot be referred to by index or key.

# Unchangeable
# Set items are unchangeable,meaning that we cannot change the items after the set has been created.
# Once a set is created,you cannot change its items,but you can remove items and add new items.

# Duplicates not allowed.
# Set cannot have two items with the same value.

In [3]:
a = { 
    "animals",
    "ball",
    "cat"
}

print(a)
print(type(a))

{'animals', 'cat', 'ball'}
<class 'set'>

In [4]:
a = { 
    "animals",
    "ball",
    "cat"
}

print(a[0])

TypeError: 'set' object is not subscriptable

In [5]:
# Duplicate not allowed

a = { 
    "animals",
    "ball",
    "cat",
    "ball",
    "cat"
}

print(a)

{'animals', 'cat', 'ball'}

In [6]:
a = { 
    "animals",
    "ball",
    "cat",
    "ball",
    "cat",
    "ball",
    "ball",
    1,2,3,True
}

print(a)

{1, 2, 'cat', 3, 'animals', 'ball'}

In [7]:
# Get the length of a set
a = { 
    "animals",
    "ball",
    "cat",
    "ball",
    "cat",
    "ball",
    "ball",
    1,2,3,True
}
print(a)
print(len(a))

{1, 2, 'cat', 3, 'animals', 'ball'}
6

In [9]:
# set items - data types.

x1 ={1,2,3,4}
x2 ={1.2,2.3,3.1,4.5}
x3 ={"a","b","c"}
x4 ={True,False,True}

print(x1,x2,x3,x4)

{1, 2, 3, 4} {1.2, 2.3, 3.1, 4.5} {'a', 'b', 'c'} {False, True}

In [10]:
m = {1,2,-5,2.1,2.3,6+3j,"apple",True}

print(m)

{1, 2, 2.1, 2.3, -5, 'apple', (6+3j)}

In [11]:
x5 = {[1,2,3,4]}

print(x5)

TypeError: unhashable type: 'list'

In [12]:
# tuple
x6 = {(1,2,3,4)}

print(x6)

{(1, 2, 3, 4)}

In [13]:
# Dictionary

x7 = {{"a":1,"b":2}}

print(x7)

TypeError: unhashable type: 'dict'

In [14]:
# nesting is not possible

a = {{1,2,3}},{{4,5,6}}

print(a)

TypeError: unhashable type: 'set'

In [15]:
# the set() constructor

thisset = set(("aplha","beta","gamma"))

print(thisset)
print(type(thisset))

{'aplha', 'gamma', 'beta'}
<class 'set'>

In [16]:
# Creating a empty set.add

a = {}

print(a)
print(type(a))

{}
<class 'dict'>

In [17]:
empty = set()

print(type(empty))
print(empty)

<class 'set'>
set()

In [18]:
# Access items in the sets.

a = {"a","b","c","d"}

for x in a:
    print(x)

a
b
d
c

In [19]:
# check if " item " is present in the set.

a = {"data","python","code"}

print("code" in a)

True

In [20]:
a = {"data","python","code"}

print("analyst" in a)

False

In [21]:
# Add items in sets.

a = {"a","b","c","d"}

a.add(100)
print(a)

{100, 'c', 'a', 'b', 'd'}

In [22]:
x = {"data","python","code"}
y = (10,20,30,40,50,60,70)

x.update(y)

print(x)

{'python', 70, 40, 10, 50, 20, 'code', 60, 'data', 30}

In [23]:
# Remove set items

n = {70,40,"code",10,"python",50,20,"data",60,30}

n.remove(40)
print(n)

{'python', 70, 10, 50, 20, 'code', 60, 'data', 30}

In [24]:
n = {70,40,"code",10,"python",50,20,"data",60,30}

n.remove("python")
print(n)

{70, 40, 10, 50, 20, 'code', 60, 'data', 30}

In [25]:
m = {70,40,"code",10,"python",50,20,"data",60,30}
x = m.pop()
print(m)

{70, 40, 10, 50, 20, 'code', 60, 'data', 30}

In [26]:
m = {70,40,"code",10,"python",50,20,"data",60,30}
m.clear()
print(m)

set()

In [27]:
m = {70,40,"code",10,"python",50,20,"data",60,30}
del m
print(m)

NameError: name 'm' is not defined

In [28]:
# Join two sets.

x = {"a","b","c"}
y = {1,2,3}
z = x.union(y)

print(z)

{1, 'b', 2, 3, 'c', 'a'}

In [29]:
# write a python prg to find the max or min values.

setn = {5,10,3,15,2,20}
print("original set elements")
print(setn)
print("Maximum value of the set is")
print(max(setn))
print("Minimum value of the set is")
print(min(setn))

original set elements
{2, 3, 20, 5, 10, 15}
Maximum value of the set is
20
Minimum value of the set is
2

In [30]:
# Return a new set of identical items from two sets.

set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print(set1.intersection(set2))

{40, 50, 30}