In [ ]:
# List in Python

# Lists are used to store multiple items in a single variable

# Lists are one of 4 built-in data types in python used to store colletions of data,the other 3 are Tuple,Set,Dictionary,
# all with different qualities and usage.

# Lists are the simplest containers that are an integal part of the Python language.
# List need not be homogeneous always which makes it the most powerful tool in python.
# A single list may contain DataTypes like Integers,Strings, as well as Objects.
# Lists are mutable, and hence, they can be altered even after their creation.

# List items are ordered , changeaable,and allow duplicate values.

# Ordered
# when we say that lists are ordered, it means that the items have a defined order,and that order will not change.
# If you add new items to a list, the new items will be placed at the end of the list.

# changeable
# The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

# Allow Duplicates
# Since lists are indexed, lists can have items with the same value.

In [ ]:
# Creating a list in python

# Lists in python can be created by just placing the sequence inside the square brackets[]

# p r o b e
# 0 1 2 3 4 index
#-5-4-3-2-1 negative index

In [1]:
mylist = ["apple","banana","cherry"]

print(mylist)
print(type(mylist))

['apple', 'banana', 'cherry']
<class 'list'>

In [2]:
# Allow Duplicates

mylist = ["apple","Banana","apple","Cherry","Banana","Apple"]

print(mylist)

['apple', 'Banana', 'apple', 'Cherry', 'Banana', 'Apple']

In [3]:
# data types in list

list1 = ["Apple","Banana","Cherry"]
list2 = [2,5,8]
list3 = [7.8,8.9,2.5]
list4 = [True, False,True]

print(list1)
print(list2)
print(list3)
print(list4)

['Apple', 'Banana', 'Cherry']
[2, 5, 8]
[7.8, 8.9, 2.5]
[True, False, True]

In [4]:
a = [ 12,-8.5,-7,2.3,2,5,6,"student","hello",True,False]

print(a)

[12, -8.5, -7, 2.3, 2, 5, 6, 'student', 'hello', True, False]

In [5]:
# length of list
a = [ 12,-8.5,-7,2.3,2,5,6,"student","hello",True,False]

print(len(a))

11

In [6]:
# Access items

thislist = [ 12,15,26,78,14,25,96,142,52,22,6,5]

print(thislist[1])

15

In [7]:
thislist = [ 12,15,26,78,14,25,96,142,52,22,6,5]

print(thislist[8])

52

In [8]:
thislist = [ 12,15,26,78,14,25,96,142,52,22,6,5]

print(thislist[-8])

14

In [9]:
thislist = [ 12,15,26,78,14,25,96,142,52,22,6,5]

print(thislist[-6])

96

In [10]:
# slicing in the list

thislist = [ 12,15,26,78,14,25,96,142,52,22,6,5]

print(thislist[0:6])

[12, 15, 26, 78, 14, 25]

In [11]:
thislist = [ 12,15,26,78,14,25,96,142,52,22,6,5]

print(thislist[3:9])

[78, 14, 25, 96, 142, 52]

In [12]:
thislist = [ 12,15,26,78,14,25,96,142,52,22,6,5]

print(thislist[3:9:2])

[78, 25, 142]

In [13]:
thislist = [ 12,15,26,78,14,25,96,142,52,22,6,5]

print(thislist[0:12:2])

[12, 26, 14, 96, 52, 6]

In [14]:
# Change Items

thislist = ["apple","banana","cherry"]
thislist[1] = "strawberry"
print(thislist)

['apple', 'strawberry', 'cherry']

In [15]:
a =[12,14,15,16,8,9,-5,-3,41,-9]

a[2] =" students"

print(a)

[12, 14, ' students', 16, 8, 9, -5, -3, 41, -9]

In [16]:
# change a range of item values

a =[12,14,15,16,8,9,-5,-3,41,-9]

a[2:4] = ["books", "pen","paper"]
print(a)

[12, 14, 'books', 'pen', 'paper', 8, 9, -5, -3, 41, -9]

In [17]:
# append in the list
a = [12,14,15,78,96,25]
a.append(-9)

print(a)

[12, 14, 15, 78, 96, 25, -9]

In [18]:
# remove item in list

a = [12,14,15,78,96,25,"paper","pen",56.23]

a.remove(78)
print(a)

[12, 14, 15, 96, 25, 'paper', 'pen', 56.23]

In [19]:
m = ["apple","student","hello"]

m.remove("student")
print(m)

['apple', 'hello']

In [20]:
# how to reverse the list.

mylist = [1,2,3,4,5,"python","Data"]

mylist.reverse()
print(mylist)

['Data', 'python', 5, 4, 3, 2, 1]

In [22]:
l = [14,15,17,78,-9,-8,52,74,89,25,102,8]

print(len(l))
a = 0
for i in range(12):
    a = a + l[i]
    i = i + 1
print("the sum of the list is" , a)

12
the sum of the list is 457

In [32]:
# multiply all the numbers of a list.

l = [ 1,2,3,4,5,6,7,8,9,10]

print(len(l))
a = 1
for i in range(10):
    a = a * l[i]
    i = i * 1
print( " the multiple of list is", a)

10
 the multiple of list is 3628800