In [ ]:
# Tuples are used to store multiple items in a single variable.

# Tuple is one of the built-in data types in python used to store collections of data.
# Tuple is a collection of objects separated by commas.
# In some ways, a tuple is similar a python list is terms of indexing,nested objects,repetition but the difference between the two is that
# we cannot change the elements of a tuple once it is assigned whereas list can change the elements of a list.

# Tuple items are ordered,unchangeable, and allow duplicate values.
# Tuple items are indexed, the first item has index[0], the second item has index[1] etc.

# ordered

# When we say that tuples are ordered,it means that the items have a defined order,and that order will not change.

# unchangeable

# Tuples are unchangeable, meaning that we cannot change ,add, or remove items after the item been created.

# Allow duplicates

# Since tuples are indexed,they can have items with the same values.

In [3]:
my_tuple = (1,2,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

In [4]:
my_tuple = (1,"hello",3.2,4+5j)

print(my_tuple)
print(type(my_tuple))

(1, 'hello', 3.2, (4+5j))
<class 'tuple'>

In [5]:
# empty tuple

my_tuple = ()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

In [6]:
# nested tuple

a = ("data", [1,2,3],(4,5,6))
print(a)
print(type(a))

('data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

In [7]:
# creating a tuple with only one item

var1 = ("hello")
print(var1)
print(type(var1))

hello
<class 'str'>

In [8]:
var1 = ("hello",)
print(var1)
print(type(var1))

('hello',)
<class 'tuple'>

In [3]:
# tuple constructor

a = tuple(("a","b","c"))
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

In [4]:
# Indexing in tuple

a = ( 47,48,45,46,48,4,8)
print(a[5])
print(type(a[5]))

4
<class 'int'>

In [6]:
a = (47,48,45,48,1,8,"data","python")

print(a[7])

python

In [7]:
a = (47,48,45,48,1,8,"data","python")

print(a[-1])

python

In [10]:
# Slicing in tuple

a = (14,15,17,852,8,29,2,8,2,4)
print(a[0:6])

print(len(a))

(14, 15, 17, 852, 8, 29)
10

In [11]:
a = (14,15,17,852,8,29,2,8,2,4)
print(a[0:10])

print(len(a))

(14, 15, 17, 852, 8, 29, 2, 8, 2, 4)
10

In [13]:
a = (14,15,17,852,8,29,2,8,2,4)
print(a[:])

print(len(a))

(14, 15, 17, 852, 8, 29, 2, 8, 2, 4)
10

In [14]:
a = (14,15,17,852,8,29,2,8,2,4)
print(a[::2])

print(len(a))

(14, 17, 8, 2, 2)
10

In [16]:
# reverse a tuple

a = (14,15,17,821,5,29,2,8,2,4)

print(a[::-1])

(4, 2, 8, 2, 29, 5, 821, 17, 15, 14)

In [17]:
t = ( 1,2,3,4,5,6,7,8)
print(t[::])
print(t[3:])
print(t[:4])
print(t[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

In [1]:
# Duplicates in tuple

t = ( 1,2,3,4,5,6,7,8,3,4,2,1)

print(t)
print(type(t))

(1, 2, 3, 4, 5, 6, 7, 8, 3, 4, 2, 1)
<class 'tuple'>

In [2]:
a = ( 25,25,27,28,29)

y = list(a)

y.append(30)
a = tuple(y)
print(a)

(25, 25, 27, 28, 29, 30)

In [3]:
a = ( 25,25,27,28,29)

y = list(a)

y.remove(25)
a = tuple(y)
print(a)

(25, 27, 28, 29)

In [4]:
a = (1,2,3,4,5,6,7,8,9)

del a

print(a)

NameError: name 'a' is not defined

In [5]:
# loop

thistuple = ( "a","b","c")

for x in thistuple:
    print(x)

a
b
c

In [6]:
# join two tuples

tuple1 = ( "a","b","c")
tuple2 = (1,2,3)
tuple3 = tuple1+tuple2

print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [7]:
# multiply tuples

a = ("apple","data","python")

b = a * 2

print(b)

('apple', 'data', 'python', 'apple', 'data', 'python')

In [8]:
t = (1,2,3,4,5,6,7,8)

print(t*2)
print(t+t+t)
print(t+t)
print(len(t))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

In [9]:
# write a program, to take 5 input from the user and store it in a tuple.

t = ()

i = 0
while i<=5:
    num = int(input("Enter the values"))
    t = t + (num,)
    i = i + 1

    print(t)

(10,)
(10, 20)
(10, 20, 30)
(10, 20, 30, 40)
(10, 20, 30, 40, 50)

ValueError: invalid literal for int() with base 10: ''